<html>

<head>
	<title>🤖 🆒 Domoticz custom icon generator</title>
	<meta name="description"
		content="🤖 🆒 Domoticz custom icon generator, help people to generate custom icon, resize image, crop and generate zip folder for domoticz">
	<meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="css/ng-img-crop.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/angular-toastr.css" />
	<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
	<link rel="stylesheet" type="text/css"
		href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="css/app.css">

	<script type="text/javascript" src="lib/angular.min.js"></script>
	<script type="text/javascript" src="lib/angular-animate.js"></script>
	<script type="text/javascript" src="lib/angular-translate.min.js"></script>
	<script type="text/javascript" src="lib/angular-toastr.tpls.js"></script>

	<script type="text/javascript" src="lib/base64.js"></script>
	<script type="text/javascript" src="lib/canvas2image.min.js"></script>
	<script type="text/javascript" src="lib/html2canvas.js"></script>
	<script type="text/javascript" src="lib/FileSaver.js"></script>
	<script type="text/javascript" src="lib/jszip.min.js"></script>

	<script src="js/ng-img-crop.js"></script>
	<script src="js/translate.config.js"></script>
	<script src="js/app.controller.js"></script>

</head>

<body ng-app="app" ng-controller="generatorController as gen">
	<header>
		<a href="/">
			<img class="logo" src="img/domoticz-150x150.png" alt="" style="border-radius:50%;" />
		</a>
		<h1>Domoticz <span>Custom icon generator</span></h1>
		<div class="settings">
			<a href="#" ng-click="gen.changeLanguage('en')"><img class="flag" src="img/united_states-national-world.svg"
					alt="fr flag"></a>
			<a href="#" ng-click="gen.changeLanguage('fr')"><img class="flag" src="img/france-national-world.svg"
					alt="en flag"></a>
		</div>
	</header>

	<div class="container">
		<div class="row">
			<div class="col-sm-12 description" translate="DESCRIPTION">
				🤖 🆒 Domoticz custom icon generator, help people to generate custom icon, resize image, crop image 🔪,
				and generate zip folder 📦 to have amazing 🎉 icons in Domoticz app.
				If you want to contribute to this project: <a target="_blank"
					href="https://github.com/T3kstiil3/domoticz_custom_icon_generator">Github 🐙</a> or contact me on <a
					target="_blank" href="https://twitter.com/AurelienLoyer">Twitter 🐦</a>

				<br><br> Enjoy 🤩
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2><em>1.</em> {{'ICONE_NAME' | translate}}</h2>
				<input type="text" name="name" ng-model="gen.iconName">
			</div>
			<div class="col-sm-6">
				<h2><em>2.1</em> {{'BUTTON_ON' | translate}}</h2>

				<div>{{'SELECT_IMAGE' | translate}}: <input type="file" id="fileInputOn" /></div>

				<div class="cropArea">
					<img-crop image="gen.myImageOn" result-image="gen.myCroppedImageOn"></img-crop>
				</div>

			</div>
			<div class="col-sm-6">
				<h2><em>2.2</em> {{'BUTTON_OFF' | translate}}</h2>

				<div>{{'SELECT_IMAGE' | translate}}: <input type="file" id="fileInputOff" /></div>

				<div class="cropArea">
					<img-crop image="gen.myImageOff" result-image="gen.myCroppedImageOff"></img-crop>
				</div>

			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 preview_bloc">
				<h2>{{'PREVIEW_BUTTON_ON' | translate}}</h2>

				<div class="result_On">
					<div class="title">{{gen.iconName}} On</div>
					<div class="image" id="imageOnU">
						<div style="border-radius:{{gen.radiusValue*48/100}}px;{{gen.border}}" class="">
							<img ng-src="{{gen.myCroppedImageOn}}" alt="" />
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 preview_bloc">
				<h2>{{'PREVIEW_BUTTON_OFF' | translate}}</h2>

				<div class="result_Off">
					<div class="title">{{gen.iconName}} Off</div>
					<div class="image" id="imageOffU">
						<div style="border-radius:{{gen.radiusValue*48/100}}px;{{gen.border}}" class="">
							<img ng-src="{{gen.myCroppedImageOff}}" alt="" />
						</div>
					</div>
				</div>

			</div>

			<div class="col-sm-12">
				<h2><em>3.</em> Réglage de l'image</h2>
				<p>En développement (Bord arrondi,Bordure...)</p>
				<div class="row" ng-if="0">
					<div class="col-sm-6">
						<h3>Bord arrondi</h3>
						<input type="checkbox" name="name" ng-model="gen.activeRadius" ng-change="gen.radiusChange()"
							id="activeRadius"> <label for="activeRadius">Bord arrondi de
							{{gen.radiusValue}}%</label><br>
						<input type="range" min="0" max="50" step="5" ng-show="gen.activeRadius"
							ng-model="gen.radiusValue">
					</div>
					<div class="col-sm-6">
						<h3>Contour de l'image</h3>
						<input type="checkbox" name="name" ng-model="gen.activeBorder" ng-change="gen.borderChange()"
							id="activeBorder"> <label for="activeBorder">Bordure <input type="color" name="favcolor"
								value="{{gen.borderColor}}" ng-model="gen.borderColor" ng-change="gen.borderChange()">
							de {{gen.borderSize}}px</label><br>
						<input type="range" min="0" max="10" step="1" ng-show="gen.activeBorder"
							ng-change="gen.borderChange()" ng-model="gen.borderSize">
						{{gen.border}}
					</div>
				</div>
			</div>

			<div class="col-sm-12">
				<h2><em>4.</em> Pour finir</h2>
				<button ng-click="gen.zip()" type="button" class="btn btn-success">Générer le zip</button>
			</div>

			<div class="col-sm-12" ng-if="gen.local">
				<h2><em>5.</em> Rendu canvas</h2>
				<div id="zonetest">

				</div>
			</div>

		</div>
	</div>

	<footer>

		<div class="icons">
			<a target="_blank" href="https://twitter.com/AurelienLoyer">
				<i class="fa fa-twitter-square" aria-hidden="true"></i>
			</a>
			<a target="_blank" href="https://github.com/T3kstiil3">
				<i class="fa fa-github-square" aria-hidden="true"></i>
			</a>
			<a target="_blank" href="http://aurelien-loyer.fr">
				<i class="fa fa-envelope-square" aria-hidden="true"></i>
			</a>
		</div>

	</footer>

	<div class="footer-fix">
		<div class="copyright">
			<i class="fa fa-code" aria-hidden="true"></i> with <i class="fa fa-heart" aria-hidden="true"></i> by <a
				target="_blank" href="https://twitter.com/AurelienLoyer">Aurélien Loyer</a>
		</div>
	</div>

	<!-- Place this tag in your head or just before your close body tag. -->
	<!-- <script async defer src="https://buttons.github.io/buttons.js"></script> -->

</body>

</html>